@model WebGUI.App_Data.Order

<nav class="track">
    <div class="container">
        <div class="logo">
            <a href="/Home/index"><img src="~/Images/Logo.PNG" width="70" height="70"></a>
        </div>
        <ul class="list-track m-auto">
            <li class="active"> Get Ready</li>
            <li class="active"> Customize</li>
            <li class="active"> Checkout </li>
        </ul>
    </div>
</nav>

<div class="w3-container w3-animate-zoom">
    <h2 class="h2">Check out now</h2>
    <p class="p-2">Please enter your details, and we'll ship your goods right away!</p>
    @Html.ValidationSummary(true, null, new { @class = "text-danger" })
    @using (Html.BeginForm("Checkout", "Order", FormMethod.Post, new { @class = "active" }))
    {
        @Html.HiddenFor(x=>x.UserId)
        <h3 class="h3">Ship to</h3>
        <div class="w3-container form-group">
            <label class="col-form-label w3-large">Name: @Model.User.Name</label><br />
            <label class="col-form-label w3-large">Email: @Model.User.Email</label>
        </div>
        
        @Html.HiddenFor(x=>x.Country)
        @Html.HiddenFor(x=>x.City)
        @Html.HiddenFor(x=>x.State)
        @Html.HiddenFor(x=>x.Zip)

        <h3 class="h3">Address</h3>
        <div class="w3-container form-group">
            @Html.LabelFor(x=>x.Line1, new {@class = "font-weight-bold" })
            @Html.TextBoxFor(x=>x.Line1, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(x=>x.Line1, null, new { @class = "text-danger" })
        </div>

        <div class="w3-container form-group">
            @Html.LabelFor(x=>x.Line2, new {@class = "font-weight-bold" })
            @Html.TextBoxFor(x=>x.Line2, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(x=>x.Line2, null, new { @class = "text-danger" })
        </div>
    
        <div class="w3-container form-group">
            @Html.LabelFor(x=>x.Line3, new {@class = "font-weight-bold" })
            @Html.TextBoxFor(x=>x.Line3, null, new { @class = "form-control" })
            @Html.ValidationMessageFor(x=>x.Line3, null, new { @class = "text-danger" })
        </div>
            
        <h3 class="h3">Options</h3>
        <div class="w3-container checkbox">
            <label>
                @Html.EditorFor(x => x.GiftWrap)
                @Html.ValidationMessageFor(x => x.GiftWrap)
                Gift wrap these items
            </label>
        </div>

        <div class="text-center">
            <input class="btn btn-outline-primary" type="submit" 
                   value="Complete Order using paypal" />
        </div>
    }
</div>

<br />
<br />
<br />