@model List<WebGUI.App_Data.Image>

@{
    int i = 0;
}

<br />

<div class="w3-container w3-animate-zoom">
    <div class="w3-container w3-xlarge">
        <h2 class="h2">Slider</h2>
    </div>
</div>

<p class="alert-success"> @TempData["Sucssess"]</p>

<div class="w3-container w3-animate-zoom">
    <table class="table table-hover table-condensed table-bordered">
        <tr class="w3-blue">
            <th>No</th>
            <th>Image</th>
            <th>Operation</th>
        </tr>
        @foreach (var item in Model)
        {
            i++;
            <tr>
                <td>@i</td>
                <td onclick="document.location ='@Url.Action("Edit", "Slider", new { @Id = item.ImageId })';">
                    <button class=" M3ybtnaccordion w3-display-container" type="button">
                        <img src='@item.ImageURL' alt="@item.Title" style="height:300px;width:100%;">
                        @if (item.Title != " " || item.Description != " ")
                        {
                            <div class="w3-display-middle w3-large w3-container w3-padding-16 w3-black">
                                @if (item.Title != " ")
                                {
                                    @item.Title
                                }
                                <br />
                                @if (item.Description != " ")
                                {
                                    @item.Description
                                }
                            </div>
                        }
                    </button>
                </td>
                <td>
                    @using (Html.BeginForm("Delete", "Slider", FormMethod.Post))
                    {
                        @Html.Hidden("ImageId", item.ImageId)
                        <button type="submit" class="btn btn-outline-danger"><i class="fa fa-close"></i></button>
                    }
                </td>
            </tr>
        }
    </table>

    <div class="w3-container form-group" style="text-align:center;">
        @Html.ActionLink("Add a Slider", "Create", null, new { @class = "btn btn-outline-primary" })
    </div>
</div>