@model WebGUI.App_Data.Product

<nav class="track">
    <div class="container">
        <div class="logo">
            <a href="/Home/index"><img src="~/Images/Logo.PNG" width="70" height="70"></a>
        </div>
        <ul class="list-track m-auto">
            <li class="active"> Get Ready  </li>
            <li class="active"> Customize </li>
            <li> Checkout </li>
        </ul>
    </div>
</nav>

<section class="parent-customize w3-container">
    <div class="container">
        <div class="row">
            <div class=" col-lg-6 col-md-12 col-sm-12 col-xs-12 custom-left">
                <div class="sticky">
                    <div class="image-custom">
                        <img src="@Model.ImageUrl" alt="@Model.Name" />
                    </div>
                    <p>
                        <span class="left">You Pay</span>
                        <span class="right">Price is @Model.Price.ToString("c")</span>
                    </p>
                    <br />
                    <div class="d-flex align-content-center justify-content-center">
                        @using (Html.BeginForm("Checkout", "Order", FormMethod.Get))
                        {
                            <input type="hidden" name="id" value="@Model.ProductID" />
                            <button type="submit" class="btn w3-large btn-primary join bg-color">Check Out</button>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="custom-right">
                    <h3 class="great">Great choice! Here's what your @Model.Name looks like.</h3>
                    <p class="intro">Get the perfect introduction to our most popular products. We follow that up with Restock Boxes, so you never run out.</p>
                    <h5 class="ships"><span class="left">@Model.Name </span> <span class="right">@Model.Price.ToString("c")</span></h5>
                    <p class="trial"> Trial sizes are big enough to use a few times. No hidden fees. Starter Set ships for free.</p>
                    <ul class="parent-product">
                        <li class="product">
                            <img src="@Model.ImageUrl" title="@Model.Name">
                            @Html.Raw(Model.Description)
                        </li>
                        <li>
                            @Html.ActionLink("Change Your Selection ?","GetStart" ,"Product",null,new {@class="change-select" })
                        </li>
                    </ul>
                    <h5 class="ships"><span class="left">@Model.Name ships today </span> <span class="right">@Model.Price.ToString("c")</span></h5>
                    <p class="trial">Your full-size Restock Box will be sent soon.</p>
                    <ul class="shaving">
                        <li>
                            <p class="prag"><i class="fas fa-sync"></i>This box ships <a href="#" class="href">every 2 months</a>.</p>
                        </li>
                        <li>
                            <p class="prag"> <i class="fas fa-tags"></i>You‘ve got a <a href="#" class="href">15% discount</a>.</p>
                        </li>
                        <li>
                            <p class="prag"> <i class="fas fa-dice-d6"></i> Add or remove products anytime.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<br />
<br />

<section class="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center ">
                <div class="serv">
                    <i class="fas fa-truck"></i>
                    Free Shipping
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  text-center">
                <div class="serv">
                    <i class="far fa-smile"></i>
                    Satisfaction Guaranteed
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  text-center">
                <div class="serv">
                    <i class="fas fa-clock"></i>
                    Cancel Anytime
                </div>
            </div>
        </div>
    </div>
</section>

<section class="parent-wroks">
    <div class="container">
        <h2 class="text-center head-work">how it works </h2>
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div class="work text-center">
                    <div class="image-work">
                        <img src="~/images/work1.png" title="">
                    </div>
                    <h3 class="head-box">YOUR FIRST BOX IS A GREAT START.</h3>
                    <p class="prag-work">You‘ll get acquainted with the Club‘s amazing products as you enjoy the trial sizes.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="work text-center">
                    <div class="image-work">
                        <img src="~/images/work2.png" title="">
                    </div>
                    <h3 class="head-box">YOUR FIRST BOX IS A GREAT START.</h3>
                    <p class="prag-work"> You‘ll get acquainted with the Club‘s amazing products as you enjoy the trial sizes.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="work text-center">
                    <div class="image-work">
                        <img src="~/images/work3.png" title="">
                    </div>
                    <h3 class="head-box">YOUR FIRST BOX IS A GREAT START.</h3>
                    <p class="prag-work">You‘ll get acquainted with the Club‘s amazing products as you enjoy the trial sizes.</p>
                </div>
            </div>

        </div>
    </div>
</section>