@model List<WebGUI.App_Data.Product>

@{ 
    decimal Total = 0;
    foreach (var item in Model)
    {
        Total += item.Price;
    }
}

<br />
<br />

<section class="parent-customize w3-container">
    <div class="container">
        <div class="row">
            <div class=" col-lg-6 col-md-12 col-sm-12 col-xs-12 custom-left">
                <div class="sticky">
                    <div class="image-custom">
                        <img src="~/Images/custmoize194229052.png" alt="Plan" />
                    </div>
                    <p>
                        <span class="left">You Pay</span>
                        <span class="right">Price is @Total.ToString("c")</span>
                    </p>
                    <br />
                    <div class="d-flex align-content-center justify-content-center">
                        @using (Html.BeginForm("Checkout", "Order", FormMethod.Get))
                        {
                            foreach (var item in Model)
                            {
                                <input type="hidden" name="id" value="@item.ProductID" />
                            }
                            <button type="submit" class="btn w3-large btn-primary join bg-color">Check Out</button>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                <div class="custom-right">
                    @foreach (var item in Model)
                    {
                    <div class="w3-container w3-margin-top w3-border">
                        <h5 class="form-inline w3-container">
                            <span class="w3-twothird"><strong>@item.Name </strong></span>
                            <span class="w3-third">
                                <b class="float-right">@item.Price.ToString("c")</b>
                            </span>
                        </h5>
                        <div class="clearfix"></div>
                        @Html.Raw(item.Description)
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

<br />
<br />

<section class="services">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center ">
                <div class="serv">
                    <i class="fas fa-truck"></i>
                    Free Shipping
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  text-center">
                <div class="serv">
                    <i class="far fa-smile"></i>
                    Satisfaction Guaranteed
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  text-center">
                <div class="serv">
                    <i class="fas fa-clock"></i>
                    Cancel Anytime
                </div>
            </div>
        </div>
    </div>
</section>

<section class="parent-wroks">
    <div class="container">
        <h2 class="text-center head-work">how it works </h2>
        <div class="row">

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div class="work text-center">
                    <div class="image-work">
                        <img src="~/images/work1.png" title="">
                    </div>
                    <h3 class="head-box">YOUR FIRST BOX IS A GREAT START.</h3>
                    <p class="prag-work">You‘ll get acquainted with the Club‘s amazing products as you enjoy the trial sizes.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="work text-center">
                    <div class="image-work">
                        <img src="~/images/work2.png" title="">
                    </div>
                    <h3 class="head-box">YOUR FIRST BOX IS A GREAT START.</h3>
                    <p class="prag-work"> You‘ll get acquainted with the Club‘s amazing products as you enjoy the trial sizes.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="work text-center">
                    <div class="image-work">
                        <img src="~/images/work3.png" title="">
                    </div>
                    <h3 class="head-box">YOUR FIRST BOX IS A GREAT START.</h3>
                    <p class="prag-work">You‘ll get acquainted with the Club‘s amazing products as you enjoy the trial sizes.</p>
                </div>
            </div>

        </div>
    </div>
</section>