@model List<WebGUI.App_Data.Product>

@{
    double c = Model.Count / 3;
    int Length = Convert.ToInt32(Math.Ceiling(c));
    int k = 0;
}

<section class="started">
    <div class="container">
        <h3 class="text-center head-start">What part of your morning routine can we help with?</h3>

        @for (int i = 0; i <= Length; i++, k += 3)
        {
            <div class="w3-row-padding w3-margin-top">
                @for (int j = k; j < k + 3; j++)
                {
                    try
                    {
                        var item = Model[j];

                        <div class="w3-third">
                            <div class="w3-card">
                                <img src="@item.ImageUrl" title="@item.Name" alt="@item.Name"style="width:100%; height:300px"
                                     onclick="document.location ='@Url.Action("Details", "Product", new { @Id = item.ProductID })';">
                                <div class="w3-container text-center w3-margin-top">
                                    <h4 class="h4">@item.Name</h4>
                                    <h5 class="h5">@item.Price</h5>
                                </div>
                            </div>
                        </div>
                    }
                    catch (Exception)
                    {
                        <div class="w3-third"></div>
                    }
                }
            </div>
        }
    </div>
</section>

<br />
<br />