@model List<WebGUI.Areas.Admin.Models.ProductSallesDetails>

@{
    int i = 0;
}

<br />

<div class="w3-container">
    <div class="w3-container w3-xlarge">
        <div class="w3-left">
            @Html.ActionLink("Export to Report", "ProductReport", null, new { @class="btn btn-outline-primary" })
        </div>
        <div class="w3-right w3-twothird">
            <h2 class="h2">Products Report</h2>
        </div>
    </div>

    <br />

    <div class="w3-container">
        <table class="table table-hover table-condensed table-bordered">
            <tr class="w3-blue text-center">
                <th>No</th>
                <th>Name</th>
                <th>Price</th>
                <th>Number of orders</th>
                <th>Total price from selling the product</th>
            </tr>
            @foreach (var item in Model)
            {
                i++;
                <tr class="text-center">
                    <td>@i</td>
                    <td>
                        <img src="@item.Product.ImageUrl" width="60" class="img-thumbnail" />
                        @item.Name
                    </td>
                    <td>@item.Product.Price.ToString("c")</td>
                    <td>@item.SumQuantity</td>
                    <td>
                        @{
                            decimal price = 
                                Convert.ToDecimal(item.SumQuantity * item.Product.Price);
                        }
                        @price.ToString("c")
                    </td>
                </tr>
            }
        </table>

    </div>
</div>

<br />
<br />