@using System.Web.Optimization
@model WebGUI.Models.LoginModel
@{ 
    Layout = null;
    }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Keywords" content="BATH CLUB,BATH,CLUB">
    <link rel="shortcut icon" href="~/favicon.ico">
    <title>BATH CLUB</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/clientfeaturesscripts")
</head>
<body>
    <div class="body-content">
        <section class="log-out">
            <span class="back">
                <a href="/Home/Index">
                    <i class="fa fa-backward"></i> Back
                </a>
            </span>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 m-auto">
                        <div class="title-form text-center">
                            <h2 class="h2">welcome back</h2>
                            <p class="p-2">please log in to continue</p>
                        </div>
                        <div class="text-danger">
                            @Html.ValidationSummary()
                        </div>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken();
                            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />

                            <div class="log-form">
                                <div class="d-flex justify-content-center">
                                    <div class="form-group" style="width:100%">
                                        @Html.TextBoxFor(x => x.Email, new { @class = "w3-text-white", @style = "width:100%", @type = "email", @placeholder = "Email" })<br />
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="d-flex justify-content-center">
                                    <div class="form-group" style="width:100%">
                                        @Html.PasswordFor(x => x.Password, new { @class = "w3-text-white", @style = "width:100%", @placeholder = "Password" })<br />
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <input type="submit" value="LOG IN" class="log-in">
                                <div class="col-sm-3"></div>
                            </div>
                        }
                        <p class="p-2">or</p>
                        @using (Html.BeginForm("FaceBookLogin", "Account", FormMethod.Post))
                        {
                            <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                            <button class="facebook" type="submit">log in with facebook</button>
                        }
                        @Html.ActionLink("forget password?", "ChangPassword", "Account", null, new { @class = "href" })
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>
</html>
