@using WebGUI.Models
@model AppUser

@{
    var manage = new Manage
    {
        PhoneNumber = Model.PhoneNumber,
        Billing = Model.Billing,
        Address = Model.Address,
        Email = Model.Email
    };
}

<section class="detailes">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-6 col-sm-12 text-center side-left-one">
                <div class="content-left">
                    <h2 class="h-pazor">
                        READY FOR NEW EXPERIENCE ?
                    </h2>
                    <p> use the best sponge in the World</p>
                    @Html.ActionLink("Pick One", "GetStart", "Product", null, new { @class = "btn pick" })
                    <div class="image">
                        <img src="../images/sponge.png">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 side-left-two">
                <div class="customize">
                    <div class="image">
                        <img src="../images/5.svg" title="things">
                    </div>
                    <h3>CUSTOMIZE YOUR CLUB</h3>
                    <p>Tell us a bit about yourself. We'll give you a more personalized experience.</p>
                    @Html.ActionLink("get started", "GetStart", "Product", null, new { @class = "btn get" })
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  parent-two">
                <ul id="tbl" class="list-edit">
                    @Html.Partial("_manage", Model)
                </ul>
                <ul class="list-edit">
                    <li class="log_out">
                        @Html.ActionLink("Any questions ?", "Contact", "Home", null, null)
                        <br>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div id="Phone" class="w3-modal">
    @Html.Partial("EditPhone", manage)
</div>

<div id="AddressData" class="w3-modal">
    @Html.Partial("EditAddress", manage)
</div>

<div id="BillingData" class="w3-modal">
    @Html.Partial("EditBilling", manage)
</div>

<div id="EmailData" class="w3-modal">
    @Html.Partial("EditEmail", manage)
</div>