@model List<WebGUI.App_Data.Image>

@{ 
    var first = Model[0];
    var Second = Model[1];
    var Third = Model[2];
}

<section class="gift">
    <div class="container">
        <div class="top-content">
            <h2 class="head-club text-center ">Gift the Club</h2>
            <p class="intro-club text-center">
                We’ve made gifting super simple. As long as they shave, shower, or poop, we’ve got you covered.
                Did you receive a gift card or e-gift card? <a href="#" class="href">Redeem it now</a>
            </p>
        </div>
    </div>
</section>


<section class="gift-sets">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class=" side-left">
                    <div class="image-gift">
                        <img src="@first.ImageURL" title="@first.Title">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="side-right">
                    @Html.Raw(first.Description)
                    <button class="see-gift">see all gift sets </button>
                    <p class="prag">Received a box with a gift card? <a href="#" class="href"> Redeem it now</a></p>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="side-right">
                    @Html.Raw(Second.Description)
                    <button class="see-gift">gift now</button>
                    <p class="prag">Received an E-gift ? <a href="#" class="href"> Redeem it now</a></p>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class=" side-left">
                    <div class="image-gift">
                        <img src="@Second.ImageURL" title="@Second.Title">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="why-gift">
    <div class="container">
        <h2 class="head-why text-center">why gift dsc?</h2>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="child-why text-center">
                    <div class="image-why">
                        <img src="../images/why/1.svg" title="Everyone’s covered">
                    </div>
                    <h4>Everyone’s covered</h4>
                    <p>From the person you truly love to the one you just met, we’ve got the perfect gift for ’em.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="child-why text-center">
                    <div class="image-why">
                        <img src="../images/why/2.svg" title="Everyone’s covered">
                    </div>
                    <h4>Better looking loved ones</h4>
                    <p>Our exclusive products are formulated with topshelf botanicals to help your loved ones look, feel and smell great.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="child-why text-center">
                    <div class="image-why">
                        <img src="../images/why/3.svg" title="Everyone’s covered">
                    </div>
                    <h4>Everyone’s covered</h4>
                    <p>Everyone has different needs. Fortunately, we have a bunch of awesome stuff to help them all out.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="person" style="background-image:url(@Third.ImageURL)">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ml-auto">
                <div class="qout">
                    @Html.Raw(Third.Description)
                </div>
            </div>
        </div>
    </div>
</section>

<section class="catch">
    <div class="container">
        <h2 class="head-catch text-center">So what's the catch?</h2>
        <p class="intro-catch text-center">There’s no catch. Seriously. No funny business, no BS, no gotchas. Still not convinced? Read on.</p>
        <div class="row">
            <div class="col-sm-12">
                <div class="acordion">
                    <h3 class="title-catch">how do the new dsc gift sets work</h3>
                    <p class="test">It’s easy. Select your Gift Set and where you want it shipped, and we’ll have it delivered within 5-7 business days</p>
                </div>
                <div class="acordion">
                    <h3 class="title-catch">Is Gift wrapping available for all Gift Sets?</h3>
                    <p class="test">It’s easy. Select your Gift Set and where you want it shipped, and we’ll have it delivered within 5-7 business days</p>
                </div>
                <div class="acordion">
                    <h3 class="title-catch">Do I need to be a DSC member to buy a Gift Set?</h3>
                    <p class="test">It’s easy. Select your Gift Set and where you want it shipped, and we’ll have it delivered within 5-7 business days</p>
                </div>

                <div class="acordion">
                    <h3 class="title-catch">Can my Gift recipient return or exchange their Gifts?</h3>
                    <p class="test">It’s easy. Select your Gift Set and where you want it shipped, and we’ll have it delivered within 5-7 business days</p>
                </div>

                <div class="acordion ">
                    <h3 class="title-catch ">Are there expedited shipping options?</h3>
                    <p class="test">It’s easy. Select your Gift Set and where you want it shipped, and we’ll have it delivered within 5-7 business days</p>
                </div>
                <p class="qoustion">Have more questions?</p>
                <button class="more-faq">more faq s</button>
            </div>
        </div>
    </div>
</section>

<section class="information">
    <div class="container">
        <div class="row">
            <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="feat text-center">
                    <i class="fas fa-dollar-sign fa-2x"></i>
                    <h4>REDEEM A GIFT CARD</h4>
                    <p>Got a gift card from an awesome friend?</p>
                    <a href="#" class="href"> reed me </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="feat text-center">
                    <i class="fas fa-hands-helping fa-2x"></i>
                    <h4>help center </h4>
                    <p>Our Help Center is here to (you guessed it) help.</p>
                    <a href="#" class="href"> Learn More </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="feat text-center">
                    <i class="fas fa-user-friends fa-2x"></i>
                    <h4>GROUP ORDER?</h4>
                    <p>Got a gift card from an awesome friend?</p>
                    <a href="#" class="href"> contact us </a>
                </div>
            </div>
        </div>
    </div>
</section>