@model List<WebGUI.App_Data.Image>

<section class="head">
    <div class="container">
        <div class="content text-center">
            <h1 class="title">How It Works </h1>
            <p class="p-2">Our goal is to make sure you always have everything you need to look, feel, and smell your best. Here’s how it all goes down:</p>
        </div>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                <img src="@Model[0].ImageURL">
                <div class="text">
                    @Html.Raw(Model[0].Description)
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center">
                <img src="@Model[1].ImageURL">
                <div class="text">
                    @Html.Raw(Model[1].Description)
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  text-center">
                <img src="@Model[2].ImageURL">
                <div class="text">
                    @Html.Raw(Model[2].Description)
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12  text-center">
                <img src="@Model[3].ImageURL">
                <div class="text">
                    @Html.Raw(Model[3].Description)
                </div>
            </div>
        </div>
    </div>
</section>

<section class="try_club">
    <div class="container">
        <div class="content text-center">
            <p class="p-2">By now you’re probably convinced of the wisdom of joining the club.</p>
            @Html.ActionLink("Try the club", "Clup", "Home", new { area = "" }, new { @class = "btn bg-color try" })
        </div>
    </div>
</section>