@model List<WebGUI.App_Data.Image>

<section class="w3-container">
    @Html.Action("SlideShow", "Nav")
</section>

<br />

@{
    var First = Model.SingleOrDefault(x => x.Title == "1");
    }

<section class="gift-sets">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class=" side-left">
                    <div class="image-gift">
                        <img src="@First.ImageURL" title="Image sets">
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="side-right">
                    @Html.Raw(First.Description);
                    @Html.ActionLink("get Start", "GetStart", "Product", new { area = "" }, new { @class = "btn see-gift" })
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services serv-home">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center ">
                <div class="serv">
                    <i class="fas fa-truck"></i>
                    Free Shipping
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  text-center">
                <div class="serv">
                    <i class="far fa-smile"></i>
                    Satisfaction Guaranteed
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12  text-center">
                <div class="serv">
                    <i class="fas fa-clock"></i>
                    Cancel Anytime
                </div>
            </div>
        </div>
    </div>
</section>

@foreach (var item in Model)
{
    if (item.Title == "1")
    {

    }
    else
    {
        <section class="gift-sets sec-discount">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class=" side-left">
                            <div class="image-gift">
                                <img src="@item.ImageURL" title="Image sets">
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        <div class="side-right">
                            @Html.Raw(item.Description)
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
}

@Html.Partial("_Load")