@model List<WebGUI.App_Data.Image>

<section class="gift">
    <div class="container">
        <div class="top-content">
            <h2 class="head-club text-center ">Gift the Club</h2>
            <p class="intro-club text-center">
                We’ve made gifting super simple. As long as they shave, shower, or poop, we’ve got you covered.
                Did you receive a gift card or e-gift card? <a href="#" class="href">Redeem it now</a>
            </p>
        </div>
    </div>
</section>

<section class="gift-sets">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class=" side-left">
                    <div class="image-gift">
                        <img src="@Model[0].ImageURL" title="@Model[0].Title">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="side-right">
                    @Html.Raw(Model[0].Description)
                    <button class="see-gift">see all gift sets </button>
                    <p class="prag">Received a box with a gift card? <a href="#" class="href"> Redeem it now</a></p>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="side-right">
                    @Html.Raw(Model[1].Description)
                    <button class="see-gift">gift now</button>
                    <p class="prag">Received an E-gift ? <a href="#" class="href"> Redeem it now</a></p>
                </div>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class=" side-left">
                    <div class="image-gift">
                        <img src="@Model[1].ImageURL" title="@Model[1].Title">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="why-gift">
    <div class="container">
        <h2 class="head-why text-center">why gift dsc?</h2>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="child-why text-center">
                    <div class="image-why">
                        <img src="@Model[2].ImageURL" title="Everyone’s covered">
                    </div>
                    @Html.Raw(Model[2].Description)
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="child-why text-center">
                    <div class="image-why">
                        <img src="@Model[3].ImageURL" title="Everyone’s covered">
                    </div>
                    @Html.Raw(Model[3].Description)
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="child-why text-center">
                    <div class="image-why">
                        <img src="@Model[4].ImageURL" title="Everyone’s covered">
                    </div>
                    @Html.Raw(Model[4].Description)
                </div>
            </div>
        </div>
    </div>
</section>

<section class="person" style="background-image:url(@Model[5].ImageURL)">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ml-auto">
                <div class="qout">
                    @Html.Raw(Model[5].Description)
                </div>
            </div>
        </div>
    </div>
</section>

<section class="catch">
    <div class="container">
        @Html.Raw(Model[6].Description)
      
        <div class="row">
            <div class="w3-container">
                <p class="qoustion">Have more questions?</p>
                @Html.ActionLink("more faq s", "Contact", "Home", new { @class="btn more-faq" })
            </div>
        </div>
    </div>
</section>

<section class="information">
    <div class="container">
        <div class="row">
            <div class=" col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="feat text-center">
                    <i class="fas fa-dollar-sign fa-2x"></i>
                    <h4>REDEEM A GIFT CARD</h4>
                    <p>Got a gift card from an awesome friend?</p>
                    @Html.ActionLink("reed me", "Contact", "Home", new { @class = "href" })
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="feat text-center">
                    <i class="fas fa-hands-helping fa-2x"></i>
                    <h4>help center </h4>
                    <p>Our Help Center is here to (you guessed it) help.</p>
                    @Html.ActionLink("Learn More", "Contact", "Home", new { @class = "href" })
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="feat text-center">
                    <i class="fas fa-user-friends fa-2x"></i>
                    <h4>GROUP ORDER?</h4>
                    <p>Got a gift card from an awesome friend?</p>
                    @Html.ActionLink("contact us", "Contact", "Home", new { @class = "href" })
                </div>
            </div>
        </div>
    </div>
</section>